.idea/
*.iml
*/target/
*/out/
.project
.settings/org.eclipse.m2e.core.prefs
ds-finance-bank-client/.classpath
ds-finance-bank-client/.project
ds-finance-bank-client/.settings/org.eclipse.core.resources.prefs
ds-finance-bank-client/.settings/org.eclipse.jdt.core.prefs
ds-finance-bank-client/.settings/org.eclipse.m2e.core.prefs
ds-finance-bank-common/.classpath
ds-finance-bank-common/.project
ds-finance-bank-common/.settings/org.eclipse.core.resources.prefs
ds-finance-bank-common/.settings/org.eclipse.jdt.core.prefs
ds-finance-bank-common/.settings/org.eclipse.m2e.core.prefs
ds-finance-bank-common/.settings/org.eclipse.wst.common.component
ds-finance-bank-common/.settings/org.eclipse.wst.common.project.facet.core.xml
ds-finance-bank-common/src/main/java/at/technikum/bic4a16/bi/rest/Tests.java
ds-finance-bank-ear/.project
ds-finance-bank-ear/.settings/org.eclipse.core.resources.prefs
ds-finance-bank-ear/.settings/org.eclipse.m2e.core.prefs
ds-finance-bank-ear/.settings/org.eclipse.wst.common.component
ds-finance-bank-ear/.settings/org.eclipse.wst.common.project.facet.core.xml
ds-finance-bank-ear/.settings/org.eclipse.wst.validation.prefs
ds-finance-bank-ejb/.classpath
ds-finance-bank-ejb/.project
ds-finance-bank-ejb/.settings/org.eclipse.core.resources.prefs
ds-finance-bank-ejb/.settings/org.eclipse.jdt.core.prefs
ds-finance-bank-ejb/.settings/org.eclipse.jpt.core.prefs
ds-finance-bank-ejb/.settings/org.eclipse.m2e.core.prefs
ds-finance-bank-ejb/.settings/org.eclipse.wst.common.component
ds-finance-bank-ejb/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
ds-finance-bank-ejb/.settings/org.eclipse.wst.common.project.facet.core.xml
ds-finance-bank-ejb/.settings/org.eclipse.wst.validation.prefs
ds-finance-bank-web/.classpath
ds-finance-bank-web/.project
ds-finance-bank-web/.settings/.jsdtscope
ds-finance-bank-web/.settings/org.eclipse.core.resources.prefs
ds-finance-bank-web/.settings/org.eclipse.jdt.core.prefs
ds-finance-bank-web/.settings/org.eclipse.m2e.core.prefs
ds-finance-bank-web/.settings/org.eclipse.wst.common.component
ds-finance-bank-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
ds-finance-bank-web/.settings/org.eclipse.wst.common.project.facet.core.xml
ds-finance-bank-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
ds-finance-bank-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
ds-finance-bank-web/.settings/org.eclipse.wst.validation.prefs
