<div *ngIf="hasAccess">
    <h2>Create Customer</h2>

    <form role="form">
        <div ng-control-group="createCustomer" ng-if="email">
            <br><label for="email">E-Mail</label>
            <input
                    type="text"
                    #email
                    id="email"
                    ng-control="email"
                    required>

            <br><label for="password">Password</label>
            <input
                    type="password"
                    #password
                    id="password"
                    ng-control="password"
                    required>
            <br><label for="password">Employee</label>
            <input type="text" #isEmployee id="isEmployee"
                   ng-control="isEmployee" ><br>
            <button (click)="doCreateCustomer(email, password, isEmployee)">OK</button>
        </div>

        <div *ngIf="customerCreationDone">
            <br><label>Customer creation done</label>
        </div>
        <div *ngIf="customerCreationFailed">
            <br><label>Customer creation failed</label>
        </div>

    </form>
</div>
