<div *ngIf="hasAccess">
  <h2>Shares as {{name}}</h2>
  <ul class="effectiveShares">
    <label for="search"></label>
    <input
            type="text"
            #search
            id="search"
            ng-control="search"
            required>
    <button (click)="onSearch(search)">Search</button>
    <div id="table-wrapper">
      <div id="table-scroll">
        <table cellspacing="10" cellpadding="20" border="5">
          <thead>
          <tr>
            <td>Name</td>
            <td>Symbol</td>
            <td>Last Trading Price</td>
            <td>Float Shares</td>
            <td>Stock Exchange</td>
            <td>Number of shares</td>
            <td>Current value</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="#share of effectiveShares"
              [class.selected]="share === selectedShare"
              (click)="onSelect(share)">
            <td>{{share.company.name}}</td>
            <td>{{share.company.symbol}}</td>
            <td>{{share.company.lastTradingPrice}}</td>
            <td>{{share.company.floatShares}}</td>
            <td>{{share.company.stockExchange}}</td>
            <td>{{share.numberOfShares}}</td>
            <td>{{share.currentValue}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ul>

  <form role="form">
    <div *ngIf="selectedShare">
      <h2>{{selectedShare.company.name | uppercase}}:</h2>
      <br><label for="numberOfShares">Number of Shares</label>
      <input
              type="text"
              #numberOfShares
              id="numberOfShares"
              ng-control="numberOfShares"
              required>
      <div>
        <select #action name="action" size="1">
          <option>BUY</option>
          <option>SELL</option>
        </select>
      </div>
      <br>
      <button (click)="buyOrSell(numberOfShares, action)">OK</button>

      <div *ngIf="transactionDone">
        <br><label>Transaction-Request done</label>
      </div>
      <div *ngIf="transactionFailed">
        <br><label>Transaction-Request failed</label>
      </div>
    </div>
  </form>
</div>

<div *ngIf="!hasAccess">
  <br><label>Unauthorized</label>
</div>
